[submodule "kicad-symbols"]
	path = kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "kicad-footprints"]
	path = kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
[submodule "kicad-packages3d"]
	path = kicad-packages3d
	url = https://gitlab.com/kicad/libraries/kicad-packages3d.git
